/conference-server/.idea
/conference-server/target
/conference-server/conference-server.iml
/conferenceFXWeb/target
/conferenceFXWeb/.idea
/conferenceFXWeb/logs
/conferenceFXWeb/tmp
/conferenceFXWeb/conferenceFXWeb.iml
/conferenceFXWeb/RUNNING_PID
/conferenceFX/.idea
/conferenceFX/target
/ConferenceMobile/.idea
